<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Default Progress bars</h4>

        <div class="progress m-t-20">
          <div
            class="progress-bar bg-primary progress-bar-striped active"
            style="height: 10px"
            role="progressbar"
            [ngStyle]="{ width: getProgress1 }"
          ></div>
        </div>

        <div class="progress m-t-20">
          <div
            class="progress-bar bg-warning progress-bar-striped active"
            style="height: 10px"
            role="progressbar"
            [ngStyle]="{ width: getProgress2 }"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increment
          [progress]="progress1"
          (onChangeProgress)="progress1 = $event"
          [btnClass]="'btn-primary'"
        ></app-increment>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increment
          [progress]="progress2"
          (onChangeProgress)="progress2 = $event"
          [btnClass]="'btn-warning'"
        ></app-increment>
      </div>
    </div>
  </div>
</div>
