<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Default Progress bars</h4>

        <div class="progress m-t-20">
          <div
            class="progress-bar bg-primary progress-bar-striped active"
            style="height: 10px"
            [style.width]="getPercetage"
            role="progressbar"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="input-group">
          <span class="input-group-btn">
            <button
              class="btn btn-primary"
              (click)="changeValue(-5)"
              type="button"
            >
              <i class="fa fa-minus"></i>
            </button>
          </span>

          <input
            type="number"
            class="form-control"
            placeholder="Product name"
            [(ngModel)]="progress"
          />

          <span class="input-group-btn">
            <button
              class="btn btn-success"
              (click)="changeValue(5)"
              type="button"
            >
              <i class="fa fa-plus"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body"></div>
    </div>
  </div>
</div>
