<div class="input-group">
  <span class="input-group-btn">
    <button (click)="changeValue(-5)" type="button" [ngClass]="btnClass">
      <i class="fa fa-minus"></i>
    </button>
  </span>

  <input
    type="number"
    class="form-control"
    [ngClass]="{ 'is-invalid': progress > 100 || progress < 0 }"
    placeholder="Product name"
    (ngModelChange)="onChangeValue($event)"
    [(ngModel)]="progress"
  />

  <span class="input-group-btn">
    <button (click)="changeValue(5)" type="button" [ngClass]="btnClass">
      <i class="fa fa-plus"></i>
    </button>
  </span>
</div>
